<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<head>
    <meta charset="UTF-8">
    <title>New Article</title>
</head>
<body>
    <form action="/news/create/" method="POST">
        {% csrf_token %}
        <p>Title:</p>
        <input type="text" name="title">
        <p>Text:</p>
        <input type="text" name="text"><br><br>
        <button type="submit">Save</button>
    </form>
</body>
<div>
    <br>
    <a href="/news/" target="_blank">Return to Main Page</a>
</div>
</html>